body {
  @apply font-inter font-normal text-sm leading-5;
}
/* .bg-intro {
  background-image: url('../image/bg-intro.png');
  background-repeat: no-repeat;
  background-position: bottom center;
} */
.content-wrapper {
  width: calc(100% - 250px);
  @apply flex-auto;
}
@media (max-width: 767px) {
  .header {
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 10;
  }
  .authorize {
    @apply bg-blue-800;
  }
  .authorize .greating {
    @apply mb-0;
  }
  .authorize .image-intro,
  .authorize .feature {
    @apply hidden;
  }
  .authorize-form {
    @apply rounded-lg shadow-lg;
  }
}
