body {
  @apply font-inter font-normal text-sm leading-5;
}
.content-wrapper {
  width: calc(100% - 250px);
  @apply flex-auto;
}
@media (max-width: 767px) {
  .header {
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 10;
  }
}
